/**
* education .section
*/
.edu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: var(--bd);
  background: var(--bg-bl);
  color: var(--cl-w);
}

/*education intro .div*/
.eduIntro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

/*education heading*/
.edu__h2 {
  color: var(--cl-w);
  font-size: var(--fonts2);
  font-weight: var(--fontw1);
}

/*education images .div*/
.eduImages {
  display: flex;
  gap: 20px;
}

/*img*/
.edu__img {
  width: 250px;
  height: 250px;
  border: var(--bd1);
  border-radius: var(--bdr);
}
