@media (max-width: 1240px) {
  /**
  * summary .section
  */
  .summary {
    flex-direction: column;
  }

  /*img*/
  .summary__img {
    width: 400px;
  }
}

@media (max-width: 900px) {
  /*education images .div*/
  .eduImages {
    overflow-x: scroll;
  }

  /*img*/
  .edu__img {
    min-width: 250px;
  }

  /*skills content .div*/
  .skillsContent {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }

  /*img*/
  .skills__img {
    width: 400px;
  }

  /*skills slides .div*/
  .skillsSlides {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 800px) {
  * {
    font-family: 16px;
  }

  .summary__h2, .edu__h2, .skills__h2, .projects__h2 {
    font-size: var(--fonts1);
  }

  /**
  * modal .div
  */
  .popup {
    width: calc(100% - 20px);
    aspect-ratio: 1 / 1;
    top: 90px;
    left: 10px;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 20px;
  }

  /*project details .div*/
  .popupInfor {
    width: 100%;
  }

  /*project image .div*/
  .popupImage {
    gap: 10px;
    align-items: center;
    width: 100%;
    height: unset;
  }

}

@media (max-width: 600px) {
  /**
  * header
  */
  .header {
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
  }

  /*header left part .div*/
  .headerLeft {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    gap: 10px;
    height: fit-content;
    background: var(--bg);
    padding: 10px;
    border: var(--bd);
    border-radius: var(--bdr);
    display: none;
  }

  .headerLeft-display {
    display: flex;
  }

  /*menu button .button*/
  .menuBtn {
    display: block;
  }

  /**
  * main
  */
  .main {
    top: 80px;
    min-height: var(100vh - 80px);
    padding: 10px;
    gap: 20px;
  }

  .summary__h2, .edu__h2, .skills__h2, .projects__h2 {
    width: 100%;
    text-align: left;
  }

  /**
  * summary .section
  */
  .summary {
    gap: 20px;
  }

  /*img*/
  .summary__img {
    width: 100%;
  }

  /**
  * education .section
  */
  .edu {
    padding: 10px;
    gap: 20px;
  }

  /*img*/
  .skills__img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .summary__h2, .edu__h2, .skills__h2, .projects__h2 {
    font-size: 40px;
  }
}