
/**
* projects .section
*/
.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

/*projects heading*/
.projects__h2 {
  font-size: var(--fonts2);
  font-weight: var(--fontw1);
}

/*projects slides .div*/
.projectsSlides {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
}

/*projects slide .div*/
.projectsSlide {
  padding: 10px;
  border: var(--bd);
  border-radius: var(--bdr);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/*img*/
.projects__img {
  width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: var(--bdr);
  border: var(--bdr1);
}

/*projects infor .div*/
.projectsInfor {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*projects description .div*/
.projectsDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

/*project name .h3*/
.projects__name {
  font-size: var(--fonts);
  font-weight: var(--fontw);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*time*/
.projects__time {
  font-size: 12px;
}

/*projects button*/
.projectsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bd);
  border-radius: var(--bdr);
  width: fit-content;
  height: 30px;
  padding: 0 10px;
}

.arrowBtn {
  border-radius: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border: var(--bd);
}

/*img*/
.arrow__img {
  width: 30px;
  height: 30px;
}
