
/**
* skills .section
*/
.skills {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*skills heading*/
.skills__h2 {
  font-size: var(--fonts2);
  font-weight: var(--fontw1);
}

/*skills content .div*/
.skillsContent {
  display: flex;
  gap: 20px;
  height: 450px;
}

/*img*/
.skills__img {
  width: 450px;
  aspect-ratio: 1 / 1;
  border: var(--bd1);
  border-radius: var(--bdr);
}

/*skills slides .div*/
.skillsSlides {
  display: flex;
  gap: 20px;
  height: 100%;
  overflow-x: scroll;
}

/*skills slide .div*/
.skillsSlide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  width: 300px;
  height: 100%;
}

/*slide heading .h3*/
.slide__h3 {
  font-size: var(--fonts);
}

/*slide content .div*/
.slide {
  border: var(--bd);
  border-radius: var(--bdr);
  width: 100%;
  height: 100%;
  padding: 10px;
}

/*slide terms .span*/
.slide__span {
  font-weight: 650;
}