@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg:white;
  --bg-bl: #282728;
  --bg-seasalt: #F8FAFA;
  --bg-gr: #F5F5F5;
  --cl-w: white;
  --bd: 1px solid rgba(0,0,0,0.2);
  --bd1: 1px solid rgba(0,0,0,0.1);
  --fonts: 24px;
  --fonts1: 50px;
  --fonts2: 100px;
  --fontw: 750;
  --fontw1: 1000;
  --bdr: 10px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  font-family: Montserrat, Inter, sans-serif, Arial, Helvetica;
  -webkit-tap-highlight-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  background: none;
}

body {
  background: var(--bg);
}

a {
  color: black;
}

/**
* header
*/
.header {
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--bd);
  border-radius: var(--bdr);
  z-index: 200;
}

/*nav*/
.headerNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*a*/
.nav__link {
  font-weight: var(--fontw);
}

/*logo*/
.logoBtn {
  width: 50px;
  height: 50px;
  border: var(--bd);
  border-radius: var(--bdr);
  font-weight: var(--fontw);
}

/*img*/
.logo__img {
  border-radius: var(--bdr);
}

/*header left part .div*/
.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}

/*user account button, search button*/
.searchBtn {
  border-radius: 100%;
  border: var(--bd);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*img*/
.search__img {
  width: 30px;
  height: 30px;
}

/*menu button .button*/
.menuBtn {
  width: 50px;
  height: 50px;
  display: none;
}

/**
* main
*/
.main {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  min-height: var(100vh - 90px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/**
* modal .div
*/
.popup {
  width: 640px;
  aspect-ratio: 16 / 9;
  border: var(--bd);
  border-radius: var(--bdr);
  position: fixed;
  top: 100px;
  left: calc((100% - 640px) / 2);
  z-index: 350;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: var(--bg);
  display: none;
}

.popup-display {
  display: flex;
}

/*project details .div*/
.popupInfor {
  display: flex;
  flex-direction: column;
  gap:  10px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup__name {
  font-size: var(--fonts);
  font-weight: var(--fontw);
}

.popup__span {
  font-weight: 650;
}

/*project image .div*/
.popupImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

/*img*/
.popup__img {
  width: 250px;
  height: 250px;
  border: var(--bd1);
  border-radius: var(--bdr);
}

.popupBtn {
  border: var(--bd);
  border-radius: var(--bdr);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 30px;
  background: var(--bg);
}

/**
* footer .footer
*/
.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--bd);
  border-radius: var(--bdr);
  margin-top: -20px;
}