/**
* summary .section
*/
.summary {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/*summary intro*/
.summaryIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*heading*/
.summary__h2 {
  font-size: var(--fonts2);
  font-weight: var(--fontw1);
}

/*summary's banner .div*/
.summaryBanner {
  border-radius: var(--bdr);
  width: 100%;
}

/*img*/
.summary__img {
  width: 100%;
  aspect-ratio: 4 / 1;
  border-radius: var(--bdr);
  border: var(--bd1);
}
